<div *ngIf="recipe$ | async as recipe" class="recipe">
    <div class="recipe__main-title">
        <h4 data-testid="name" class="tui-text_h4 recipe__name no-margin">
            {{recipe.name }}
        </h4>
        <div class="recipe__main-title-badges">
            <ng-container
                *ngFor="let tag of recipe | recipeTags: 'full';let index = index"
            >
                <tui-badge
                    status="custom"
                    class="tui-space_right-4 recipe__main-title-badge"
                    [value]="tag.label"
                >
                    <tui-svg [src]="tag.icon"></tui-svg>
                </tui-badge>
            </ng-container>
        </div>
    </div>

    <div class="recipe__main-photo">
        <img
            class="recipe__main-photo-img"
            [src]="recipe.image | base64ImageConvert"
            [alt]="recipe.name"
        />
        <div class="recipe__main-photo-title">
            <ng-container *ngFor="let value of recipe.energyValue | energy">
                <div class="recipe__energy_value tui-space_right-4">
                    <p class="tui-text_body-m recipe__energy_value-bold">
                        {{value.label}}
                    </p>
                    <p>{{value.value}}</p>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="recipe__container-extra-info">
        <ng-container *ngIf="recipe.description">
            <h5 class="tui-text_h5">Описание</h5>

            <div data-testid="description" class="tui-text_body-m">
                {{recipe.description}}
            </div>
        </ng-container>

        <h5 class="tui-text_h5 recipe__ingredients-title">Ингредиенты</h5>
        <app-ingredients
            [portion]="value"
            [ingredients]="recipe.ingredientsInfo"
        ></app-ingredients>

        <h5 class="tui-text_h5 tui-space_top-10">Пошаговый рецепт</h5>
        <div
            *ngFor="let instruction of recipe.instructions;let index = index"
            class="tui-space_top-8"
        >
            <div class="recipe__step-badge step-{{index}}">
                {{ instruction.itemNumber}}
            </div>
            <div
                class="recipe__step-title tui-text_body-m instruction-{{index}}"
            >
                {{instruction.instruction}}
            </div>
        </div>
    </div>
</div>
