<div *ngIf="recipe$ | async as recipe" class="recipe">
    <div class="recipe__main-title">
        <h6 class="tui-text_h6 recipe__name">{{recipe.name }}</h6>
        <div class="recipe__main-title-badges">
            <ng-container
                *ngFor="let tag of recipe | recipeTags;let index = index"
            >
                <tui-badge
                    status="custom"
                    class="tui-space_right-4"
                    [value]="tag.label"
                    [style.background]="index | colorize"
                >
                    <tui-svg [src]="tag.icon"></tui-svg>
                </tui-badge>
            </ng-container>
        </div>
    </div>

    <div class="recipe__main-photo">
        <img
            class="recipe__main-photo-img"
            [src]="recipe.image | base64ImageConvert"
            [alt]="recipe.name"
        />
        <div class="recipe__main-photo-title">
            <ng-container *ngFor="let value of recipe.energyValue | energy">
                <div class="recipe__energy_value tui-space_right-4">
                    <p class="tui-text_body-m recipe__energy_value-bold">
                        {{value.label}}
                    </p>
                    <p>{{value.value}}</p>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="recipe__container-extra-info">
        <p class="tui-text_h6">Описание</p>

        <tui-line-clamp
            [content]="content"
            [lineHeight]="20"
            [linesLimit]="5"
        ></tui-line-clamp>

        <ng-template #content>
            <div class="tui-text_body-s">{{recipe.description}}</div>
        </ng-template>

        <p class="tui-text_h6">Ингредиенты</p>
        <app-ingredients
            [value]="value"
            [ingredients]="recipe.ingredientsInfo"
        ></app-ingredients>

        <p class="tui-text_h6">Пошаговый рецепт</p>
        <div
            *ngFor="let instruction of recipe.instructions;let index = index"
            class="tui-space_top-4"
        >
            <div class="recipe__step-badge">{{ instruction.itemNumber}}</div>
            <div class="recipe__step-title tui-text_body-m">
                {{instruction.instruction}}
            </div>
        </div>
    </div>
</div>
