a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

.outline {
    color: var(--tui-primary) !important;
    background: none;
    border: none;

    padding: 10px 0;
    &:hover {
        color: var(--tui-link-hover);
    }
}
// html {
//     height: 100%;
// }
// body {
//     height: 100%;
//     background: linear-gradient(45deg, #fff1eb, #ace0f9);
//     margin: 0;
//     background-repeat: no-repeat;
//     background-attachment: fixed;
// }
.no-margin {
    margin: 0;
}
