a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

.outline {
    color: var(--tui-primary) !important;
    background-color: white;
    border: none;

    padding: 10px 0;
    &:hover {
        color: var(--tui-link-hover);
    }
}
// body{
//     background: linear-gradient(135deg, rgb(166, 204, 251), rgb(215, 166, 248), rgb(202, 92, 127));
// }
