<div class="ingredients-counter tui-space_bottom-5">
    <p class="tui-space_right-3">{{'порции' | declensions: computedPortion}}</p>
    <div class="ingredients-counter-btns">
        <button
            data-testid="decrement"
            tuiIconButton
            icon="tuiIconMinus"
            size="s"
            appearance="custom"
            class="tui-space_right-3"
            (click)="calcIngredients(-1)"
        ></button>
        <tui-island class="tui-space_right-3">{{computedPortion}}</tui-island>
        <button
            data-testid="increment"
            tuiIconButton
            icon="tuiIconPlus"
            size="s"
            appearance="custom"
            (click)="calcIngredients(1)"
        ></button>
    </div>
</div>
<div class="ingredients">
    <ng-container
        *ngFor="let ingredient of ingredients | calcPortions : computedPortion: initialPortion "
    >
        <app-ingredient [ingredient]="ingredient"></app-ingredient>
        <div class="ingredients__divider"></div>
    </ng-container>
</div>
