<div class="ingredients-counter">
    <p class="tui-space_right-3">порция</p>
    <div class="ingredients-counter-btns">
        <button
            tuiIconButton
            icon="tuiIconMinus"
            class="tui-space_right-3"
            [size]="size"
            (click)="decrement()"
        ></button>
        <tui-island class="tui-space_right-3">{{value}}</tui-island>
        <button
            tuiIconButton
            icon="tuiIconPlus"
            [size]="size"
            (click)="increment()"
        ></button>
    </div>
</div>
<div class="ingredients">
    <ng-container *ngFor="let ingredient of computedIngredients">
        <app-ingredient [ingredient]="ingredient"></app-ingredient>
    </ng-container>
</div>
