<tui-island class="island">
    <div class="user">
        <div class="tui-space_right-3">
            <img
                *ngIf="user.photoUrl;else noPhoto"
                alt="user photo"
                class="user__img"
                [src]="user.photoUrl"
            />
            <ng-template #noPhoto>
                <tui-svg
                    src="assets/green/profile.svg"
                    class="user__img"
                ></tui-svg>
            </ng-template>
        </div>
        <div>
            <p data-testid="username" class="no-margin user__name bold">
                {{user.username}}
            </p>
        </div>
    </div>
    <div class="user__logout">
        <div class="flex">
            <p class="tui-text_body-s no-margin bold">Почта:</p>
            <p
                data-testid="email"
                class="tui-text_body-s no-margin user__email"
            >
                {{user.email}}
            </p>
        </div>

        <button
            data-testid="logout-btn"
            tuiButton
            size="s"
            appearance="icon"
            class="user__btn"
            (click)="logout()"
        >
            Выйти
        </button>
    </div>
</tui-island>
