<div class="recipes">
    <h4 class="tui-text_h4">Поиск рецептов</h4>
    <app-search (searchedRecipes)="loadRecipes($event)"></app-search>

    <div
        *ngIf="searchedRecipes$ | async as searchedRecipes"
        class="recipes__preview"
    >
        {{searchedRecipes | json}}
        <!-- <ng-container *ngFor="let recipe of searchedRecipes">
            <app-recipe-preview [recipe]="recipe"></app-recipe-preview>
        </ng-container> -->
    </div>

    <h4 class="tui-text_h4">Рецепты по категориям</h4>
    <app-default-recipes></app-default-recipes>

    <hr class="tui-space_vertical-5" />

    <div *ngIf="recipes$ | async as recipes" class="recipes__preview">
        <ng-container *ngFor="let recipe of recipes">
            <app-recipe-preview [recipe]="recipe"></app-recipe-preview>
        </ng-container>
    </div>
</div>
