<div class="recipes">
    <h4 class="tui-text_h4">Поиск рецептов</h4>
    <app-search (searchedRecipes)="loadRecipes($event)"></app-search>

    <div
        *ngIf="searchedRecipes$ | async as searchedRecipes"
        class="recipes__preview"
    >
        <h4 class="tui-text_h4">Результаты поиска</h4>
        <ng-container *ngFor="let recipe of searchedRecipes">
            <app-recipe-preview [recipe]="recipe"></app-recipe-preview>
        </ng-container>
    </div>

    <h4 class="tui-text_h4">Рецепты по категориям</h4>
    <app-default-recipes
        (clickedCategory)="activeCategory($event)"
    ></app-default-recipes>

    <app-category-recipes
        class="recipes__category"
        [category]="category"
    ></app-category-recipes>
</div>
