<app-main-home-screen></app-main-home-screen>
<div class="home">
    <div class="home__global-search">
        <tui-input
            tuiTextfieldSize="l"
            icon="tuiIconSearchLarge"
            tuiTextfieldExampleText="Салат цезарь"
            class="home__global-search-input tui-space_right-5"
            [tuiTextfieldLabelOutside]="true"
            [tuiTextfieldCleaner]="true"
            [(ngModel)]="recipeName"
        >
            Введите название рецепта
        </tui-input>

        <button tuiButton size="l" (click)="searchRecipe()">Поиск</button>
    </div>
    <h4 class="tui-text_h4">Рецепты по категориям</h4>
    <app-default-recipes></app-default-recipes>
</div>
