<nav class="nav">
    <img
        height="75px"
        loading="lazy"
        alt="IT's TINKOFF"
        src="assets/green/logo.png"
    />
    <tui-tabs class="tui-space_left-6" [(activeItemIndex)]="activeTab">
        <button tuiTab routerLinkActive routerLink="/recipes">
            <tui-svg
                src="assets/icons/recipes.svg"
                class="tui-space_right-2"
            ></tui-svg>
            Рецепты
        </button>

        <button
            *ngIf="user$ | async;else logIn"
            data-testid="user-tab"
            tuiTab
            routerLinkActive
            routerLink="/profile"
            tuiHintMode="onDark"
            [tuiHint]="profile"
        >
            <tui-svg src="tuiIconUser" class="tui-space_right-2"></tui-svg>
            Профиль
        </button>

        <ng-template #logIn>
            <button
                data-testid="login"
                tuiTab
                routerLinkActive
                tuiHintMode="onDark"
                routerLink="/profile"
                [tuiHint]="tooltip"
            >
                <tui-svg src="tuiIconUser" class="tui-space_right-2"></tui-svg>
                Профиль
            </button>
        </ng-template>
        <ng-container *ngIf="user$ | async as user">
            <button
                *ngIf="user.role === 'ROLE_ADMIN' "
                data-testid="admin-panel"
                tuiTab
                routerLinkActive
                routerLink="/admin-panel"
            >
                <tui-svg
                    src="tuiIconLockLarge"
                    class="tui-space_right-2"
                ></tui-svg>
                Admin panel
            </button>
        </ng-container>
    </tui-tabs>
    <ng-template #profile>
        <div *ngIf="user$ | async as user">
            <a routerLink="/profile" class="profile">
                <div class="tui-space_right-3">
                    <img
                        *ngIf="user.photoUrl;else noPhoto"
                        alt="user photo"
                        class="profile__img"
                        [src]="user.photoUrl"
                    />
                    <ng-template #noPhoto>
                        <tui-svg
                            src="assets/green/profile.svg"
                            class="profile__img"
                        ></tui-svg>
                    </ng-template>
                </div>
                <div>
                    <p class="tui-text_body-m no-margin profile__name">
                        {{user.username}}
                    </p>
                    <p class="tui-text_body-s no-margin profile__email">
                        {{user.email}}
                    </p>
                    <p class="tui-text_body-s no-margin profile__color">
                        Личные данные
                    </p>
                </div>
            </a>
        </div>
        <hr class="tui-space_top-3" />
        <div
            routerLink="profile"
            class="profile__link-block tui-text_body-m tui-space_top-3"
        >
            <tui-svg src="tuiIconHeart"></tui-svg>

            Избранное
        </div>
        <hr class="tui-space_top-3" />
        <button
            tuiButton
            size="s"
            appearance="icon"
            class="profile__btn"
            (click)="logout()"
        >
            Выйти
        </button>
    </ng-template>
    <ng-template #tooltip>Войти</ng-template>
</nav>
