.nav {
    display: flex;
    align-items: flex-end;

    justify-content: space-around;
    height: 74px;
    &__logo-template {
        height: 60px;
        width: 120px;
        background-color: grey;
    }
}
:host {
    display: block;
}
