<nav class="nav">
    <div class="nav__logo">
        <!-- <img
            height="60px"
            loading="lazy"
            alt="IT's TINKOFF"
            src="assets/images/logo.png"
        /> -->
        <a href="" routerLink="/">
            <div class="nav__logo-template"></div>
        </a>
    </div>
    <tui-tabs [(activeItemIndex)]="activeItemIndex">
        <ng-container *ngFor="let tab of tabs">
            <button tuiTab [routerLink]="tab.routerLink">
                <tui-svg class="tui-space_right-2" [src]="tab.icon"></tui-svg>
                {{tab.label}}
            </button>
        </ng-container>
    </tui-tabs>
</nav>
