.nav {
    display: flex;
    align-items: flex-end;

    justify-content: space-around;
    background-color: white;
    z-index: 10;

    // background: rgb(166, 204, 251);
    // background-image: url('/assets/nav.jpeg');
    // background-size: cover;
    height: 74px;
    &__logo-template {
        height: 60px;
        width: 120px;
        background-color: grey;
    }
}
:host {
    display: block;
}
