<div *ngIf="categories$ | async as categories ">
    <div class="default__categories">
        <button
            *ngFor="let category of categories | slice:0:categoriesCount;let index = index"
            size="l"
            tuiButton
            class="default__category"
            [appearance]="isActive(index)"
            (click)="loadCategory(category.label,index)"
        >
            <img
                loading="lazy"
                class="default__category-img tui-space_right-2"
                [alt]="category.label"
                [src]="category.icon"
            />
            {{category.label}}
        </button>
    </div>
</div>
