<div class="search">
    <form [formGroup]="searchForm" (ngSubmit)="searchRecipe()">
        <div class="search__main-search">
            <tui-input
                tuiTextfieldExampleText="Салат цезарь"
                formControlName="recipeSearch"
                tuiTextfieldSize="l"
                [tuiTextfieldLabelOutside]="true"
                [tuiTextfieldCleaner]="true"
            >
                Введите название рецепта
            </tui-input>

            <button tuiButton size="l" (click)="searchRecipe()">Поиск</button>
        </div>
        <div
            *ngIf="defaultSearchValues$ | async as defaultSearchValue"
            class="search__extra-options tui-space_top-5"
        >
            <div class="search__default">
                <app-select-with-search
                    label="Категория"
                    class="search__default-width"
                    [values]="defaultSearchValue.categories"
                    [control]="category"
                ></app-select-with-search>
                <app-select-with-search
                    label="Кухня"
                    class="search__default-width tui-space_horizontal-5"
                    [values]="defaultSearchValue.countries"
                    [control]="kitchen"
                ></app-select-with-search>
                <app-select-with-search
                    label="Время приготовления"
                    class="search__default-width"
                    [values]="defaultSearchValue.time"
                    [control]="preparationTime"
                ></app-select-with-search>
            </div>

            <div class="search__ingredients tui-space_top-5">
                <app-select-with-search
                    label="+ Добавить ингредиенты"
                    class="search__ingredients-width"
                    [values]="defaultSearchValue.ingredients | tuiMapper:ingredientMapper :excludeIngredientsChanged  "
                    [control]="includeIngredients"
                ></app-select-with-search>
                <app-select-with-search
                    label="- Исключить ингредиенты"
                    class="search__ingredients-width"
                    [values]="defaultSearchValue.ingredients | tuiMapper: ingredientMapper : includeIngredientsChanged "
                    [control]="excludeIngredients"
                ></app-select-with-search>
            </div>
        </div>
    </form>
</div>
