<div class="page__nav">
    <nav class="nav">
        <tui-tabs class="nav__tabs" [activeItemIndex]="activeItemIndex">
            <div *ngFor="let tab of tabs">
                <a
                    tuiTab
                    routerLink="./"
                    class="nav__link"
                    [fragment]="tab.id"
                    (click)="onClick(tab)"
                >
                    {{tab.name}}
                </a>
            </div>
        </tui-tabs>
    </nav>
</div>

<div class="admin-panel">
    <h3 id="ingredient" class="tui-text_h3">Добавить ингредиент</h3>
    <app-admin-add-ingredient
        (ingredientChanged)="setIngredient($event)"
    ></app-admin-add-ingredient>




    <h3 id="recipe" class="tui-text_h3">Добавить рецепт</h3>
    <app-admin-add-recipe [ingredient]="ingredient"></app-admin-add-recipe>
</div>
