<tui-island class="recipe-preview">
    <div class="recipe-preview__calories tui-text_body-xs">
        <p class="no-margin bold">
            {{currentRecipe.energyValue.calories}} ккал
        </p>
    </div>
    <a [routerLink]="['/recipes/recipe',currentRecipe.id ]">
        <img
            alt="recipe photo"
            class="recipe-preview__img tui-space_right-4"
            [src]="currentRecipe.image | base64ImageConvert"
        />
    </a>
    <div class="recipe-preview__title">
        <div class="recipe-preview__tags">
            <ng-container *ngFor="let tag of currentRecipe | recipeTags">
                <a class="recipe-preview__tag tui-text-body-xs">
                    {{tag.label}}
                </a>
                <div
                    class="recipe-preview__divider tui-space_horizontal-4"
                ></div>
            </ng-container>
        </div>
        <tui-line-clamp [content]="content" [linesLimit]="2"></tui-line-clamp>
        <ng-template #content>
            <p class="tui-text_body-l no-margin ecipe-preview__hint">
                {{currentRecipe.name}}
            </p>
        </ng-template>
        <div class="">
            <tui-hosted-dropdown
                class="tui-space_top-3"
                [content]="dropdown"
                [(open)]="open"
            >
                <div tuiGroup>
                    <button
                        tuiButton
                        type="button"
                        size="s"
                        appearance="whiteblock"
                        class="tui-group__auto-width-item"
                    >
                        {{currentRecipe.ingredientsInfo.length}} {{
                        'ингредиентов' | declensions:
                        (currentRecipe.ingredientsInfo.length) }}
                    </button>
                    <button
                        tuiIconButton
                        type="button"
                        tuiHostedDropdownHost
                        title="Menu"
                        appearance="whiteblock"
                        size="s"
                        class="tui-group__auto-width-item"
                        [iconRight]="icon"
                    ></button>
                    <ng-template #icon>
                        <tui-svg
                            src="tuiIconChevronDown"
                            class="icon"
                            [class.icon_rotated]="open"
                        ></tui-svg>
                    </ng-template>
                </div>
            </tui-hosted-dropdown>
            <ng-template #dropdown>
                <tui-data-list class="recipe-preview__data-list">
                    <button
                        *ngFor="let ingredient of currentRecipe.ingredientsInfo"
                        tuiOption
                        size="s"
                        class="recipe-preview__data-list-btn"
                        (click)="onClick()"
                    >
                        <app-ingredient
                            class="recipe-preview__ingredient"
                            [ingredient]="ingredient"
                        ></app-ingredient>
                    </button>
                </tui-data-list>
            </ng-template>
            <ng-template #removeBtn>
                <button
                    tuiIconButton
                    type="button"
                    size="s"
                    icon="tuiIconHeartFilled"
                    appearance="flat-custom"
                    tuiHintMode="onDark"
                    class="tui-space_top-3 tui-space_left-3"
                    [tuiHint]="remove"
                    (click)="removeFromFavorites(currentRecipe)"
                ></button>
            </ng-template>

            <button
                *ngIf="isInStorage$ | async; else removeBtn"
                tuiIconButton
                type="button"
                size="s"
                icon="tuiIconHeart"
                appearance="flat-custom"
                tuiHintMode="onDark"
                class="tui-space_top-3 tui-space_left-3"
                [tuiHint]="favorits"
                (click)="addToFavorites(currentRecipe  )"
            ></button>
        </div>
    </div>
    <ng-template #favorits>Добавить в избранное</ng-template>
    <ng-template #remove>Удалить из избранного</ng-template>
</tui-island>
