<tui-island class="favorits" [hoverable]="true">
    <ng-container *ngIf="recipes.length;else empty">
        <div data-testid="navigate" (click)="nanigateToFavorits()">
            <p data-testid="recipes" class="favorits__title bold">Избранное</p>

            <div *ngFor="let recipe of recipes" class="favorits__row-img">
                <img
                    alt="recipe photo"
                    class="favorits__img"
                    [src]="recipe.image | base64ImageConvert"
                />
            </div>
        </div>
    </ng-container>
</tui-island>
<ng-template #empty>
    <p data-testid="no-recipes">Кажется у вас нет любимых рецептов</p>
    <button size="s" tuiButton routerLink="/recipes" appearance="custom">
        Найти рецепты
    </button>
</ng-template>
