.favorits {
    &__title {
        font-size: 17px;
        font-weight: bold;
        &:hover {
            color: var(--tui-primary);
        }
    }
    &__img {
        height: 60px;
        width: 60px;
        object-fit: cover;
        border-radius: 100%;
    }
    &__row-img {
        display: flex;
        width: 3rem;
        display: inline-block;
        position: relative;
    }
}
