.ingredient {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    &__divider {
        height: 1px;
        width: 100%;
        background-color: var(--tui-base-03);
    }
    p {
        margin: 0;
        width: 100%;
    }
}
