.search {
    &__main-search {
        display: flex;
        &-input {
            width: 80%;
        }
    }
    &__extra-options {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }
}
