<div class="search">
    <form [formGroup]="searchForm" (ngSubmit)="searchRecipe()">
        <div class="search__main-search">
            <tui-input
                tuiTextfieldSize="l"
                tuiTextfieldExampleText="Салат цезарь"
                formControlName="recipeSearch"
                class="search__main-search-input"
                [tuiTextfieldLabelOutside]="true"
                [tuiTextfieldCleaner]="true"
            >
                Введите название рецепта
            </tui-input>

            <button tuiButton size="m" (click)="searchRecipe()">Поиск</button>
        </div>
        <tui-hosted-dropdown tuiDropdownLimitWidth="fixed" [open]="open">
            <button
                tuiButton
                appearance="flat"
                [iconRight]="arrow"
                (click)="showFilters()"
            >
                {{btnText}}
            </button>
        </tui-hosted-dropdown>

        <div
            *ngIf="defaultSearchValues$ | async as defaultSearchValue"
            class="search__extra-options"
        >
            <div *ngFor="let control of controls"></div>
            <app-select-with-search
                label="Категория"
                [values]="defaultSearchValue.categories"
                [control]="category"
            ></app-select-with-search>
            <app-select-with-search
                label="Кухня"
                [values]="defaultSearchValue.kitchen"
                [control]="kitchen"
            ></app-select-with-search>
            <app-select-with-search
                label="Время приготовления"
                [values]="defaultSearchValue.time"
                [control]="preparationTime"
            ></app-select-with-search>
            <button (click)="test()"></button>
        </div>
    </form>
</div>
