<ng-container *ngIf="recipes.length; else empty">
    <h6 data-testid="recipes" class="tui-text_h6">Ваши любимые рецепты</h6>
    <div class="recipes__block">
        <ng-container *ngFor="let recipe of recipes">
            <app-recipe-preview [recipe]="recipe"></app-recipe-preview>
        </ng-container>
    </div>
</ng-container>
<ng-template #empty>
    <p data-testid="no-recipes" class="tui-text_h6">Тут пусто</p>
    <button tuiButton appearance="custom" size="s" routerLink="/recipes">
        Найти рецепты
    </button>
</ng-template>
