<tui-select [(ngModel)]="value">
    

    <cdk-virtual-scroll-viewport
        *tuiDataList
        tuiScrollable
        class="scroll"
        [itemSize]="44"
    >
        <tui-primitive-textfield
            #input
            iconContent="tuiIconSearchLarge"
            iconAlign="left"
            class="tui-space_all-2"
            [(value)]="searched"
        ></tui-primitive-textfield>
        <tui-data-list tuiMultiSelectGroup>
            <ng-container
                *tuiLet="
                values | tuiFilter: filter:searched as filtered"
            >
                <button
                    *cdkVirtualFor="let item of filtered"
                    tuiOption
                    [value]="item"
                    (сlick)='setValue(item)'
                >
                    {{item}}
                </button>
            </ng-container>
        </tui-data-list>
    </cdk-virtual-scroll-viewport>
</tui-select>
